[Desktop Entry]
Encoding=UTF-8
Name=Qalculate!
Comment=Qalculate! applet for Plasma desktop
Comment[hr]=Qalculate! Programčić za radnu površinu Plasma
Icon=/usr/share/plasma/plasmoids/org.kde.plasma.qalculate/contents/images/Qalculate.svg
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Daniel Schopf
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Email=schopf.dan@gmail.com
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=org.kde.plasma.qalculate
X-KDE-PluginInfo-Version=0.8.4
X-KDE-PluginInfo-Website=https://store.kde.org/p/1155946
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Qalculate.qml
